In [2]:
import app
import pandas as pd
import numpy as np

In [3]:
symbols = pd.read_pickle("./data/nasdaq_symbols.pkl")

In [4]:
symbols.head()

,Nasdaq Traded,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
Symbol,,,,,,,,,,,
A,True,"Agilent Technologies, Inc. Common Stock",N,,False,100.0,False,NaN,A,A,False
AA,True,Alcoa Corporation Common Stock,N,,False,100.0,False,NaN,AA,AA,False
AABA,True,Altaba Inc. - Common Stock,Q,Q,False,100.0,False,N,NaN,AABA,False
AAC,True,"AAC Holdings, Inc. Common Stock",N,,False,100.0,False,NaN,AAC,AAC,False
AADR,True,AdvisorShares Dorsey Wright ADR ETF,P,,True,100.0,False,NaN,AADR,AADR,False

In [5]:
type(symbols)

pandas.core.frame.DataFrame

       Round Lot Size
count     8605.000000
mean        99.882859
std          3.276785
min          1.000000
25%        100.000000
50%        100.000000
75%        100.000000
max        100.000000